h2{
    color: blueviolet;
}

p{
    color: blueviolet;
}
body{
 background-image: url(../../../Downloads/hallstatt-3609863.jpg); 
 background-position: center;
 background-size: cover;
 background-blend-mode: color-burn;
 
}